#map {
    height: 86%;
    width: 100%;
    margin-top: 10vw;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.score_button {
    width: 20vw;
    height: 20vw;
    background-color: blue;
    position: absolute;
    z-index: 10;
    top: 85%;
    left: 73%;
}
.question_button {
    width: 20vw;
    height: 20vw;
    background-color: red;
    position: absolute;
    z-index: 10;
    top: 85%;
    left: 47%;
}
