#map {
    height: 86%;
    width: 100%;
    margin-top: 10vw;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.score_button {
    width: 20vw;
    height: 20vw;
    background-color: blue;
    position: absolute;
    z-index: 10;
    top: 85%;
    left: 73%;
}
.question_button {
    width: 20vw;
    height: 20vw;
    background-color: red;
    position: absolute;
    z-index: 10;
    top: 85%;
    left: 47%;
}
.scoreboard {
    width: 80%;
    height: 50%;
    position: absolute;
    z-index: 11;
    top: 53vw;
    background-color: white;
    left: 8%;
    display: none;
}
.scoretoggle {
    display: block;
}
.window_score h2,
h3,
.groups,
.points {
    display: inline-block;
}
.tab h2 {
    margin-left: 12%;
    font-size: 5vw;
    position: relative;
    z-index: 99;
}
.table_name h3 {
    margin-left: 24%;
    font-size: 3vw;
}
.groups,
.points p {
    font-size: 5vw;
    margin-left: 14vw;
}
